


h3.mt-5.mb-3.text-center
    .bi.bi-easel &nbsp; Presentations
.row.row-cols-1.gx-5.gy-4.mb-4




        
    .col.col-lg-9.mx-auto
        .card.shadow.rounded
            .card-body
                | #[strong On the classification of triangulated categories with finiteness conditions]<br>
                | #[i International Conference on Representations of Algebras ICRA 21]<br>
                | 
                | 9 August 2024, Shanghai, China
            .card-footer
                a.btn.btn-xs(href="assets/files/presentations/ICRA21.pdf") Presentation
                a.btn.btn-xs(href="https://icra21.sjtu.edu.cn/index.html") Site
                





        
    .col.col-lg-9.mx-auto
        .card.shadow.rounded
            .card-body
                | #[strong An application of homotopy theory to singularity theory]<br>
                | #[i University of Haifa Topology & Geometry Seminar]<br>
                | 
                | 28 November 2023, online seminar
            .card-footer
                a.btn.btn-xs(href="assets/files/presentations/Haifa2023.pdf") Presentation
                



.text-center.mt-2
    a.btn.btn-primary.btn-xl(href='presentations.html') See all presentations

































































