


h3.mt-5.mb-3.text-center
    .bi.bi-easel &nbsp; Presentations
.row.row-cols-1.gx-5.gy-4.mb-4




        
    .col.col-lg-9.mx-auto
        .card.shadow.rounded
            .card-body
                | #[strong Cluster tilting differential graded algebras]<br>
                | #[i Triangulated Categories in Algebra and Geometry]<br>
                | 
                | 23 September 2024, Prague, Czech Republic
            .card-footer
                a.btn.btn-xs(href="assets/files/presentations/prague24.pdf") Presentation
                a.btn.btn-xs(href="https://sites.google.com/view/triang-cats-algebra-geometry/home") Site
                





        
    .col.col-lg-9.mx-auto
        .card.shadow.rounded
            .card-body
                | #[strong On the classification of triangulated categories with finiteness conditions]<br>
                | #[i International Conference on Representations of Algebras ICRA 21]<br>
                | 
                | 9 August 2024, Shanghai, China
            .card-footer
                a.btn.btn-xs(href="assets/files/presentations/ICRA21.pdf") Presentation
                a.btn.btn-xs(href="https://icra21.sjtu.edu.cn/index.html") Site
                



.text-center.mt-2
    a.btn.btn-primary.btn-xl(href='presentations.html') See all presentations



































































