{% macro paper (id, authors, title, source, DOI, arxiv, abstract, bibtex, zbmath, pdf) %}
.col-11.col-sm-10.col-md-8.col-lg-5.col-lx-4.mx-auto
    .card.shadow.rounded
        .card-body
            | {% for name in authors %}{% if loop.index > 1 %}{% if loop.last %}  and {% else %}, {% endif %}{% endif %}{% if name.url %}
            a.coauthor(href="{{ name.url }}") {{ name.given | replace('--', '—') }} {{ name.family | replace('--', '—') }}
            |{% else %}{{ name.given | replace('--', '—') }} {{ name.family | replace('--', '—') }}{% endif %}{% endfor %}<br>
            | #[strong {{ title | replace('--', '—') | replace("``", "“") | replace('"', '”')  | replace("''", "”") }}]<br>
            | {{ source | replace('--', '—') }}
        .card-footer
            {% if pdf != '' -%}
            {{ pdf }}
            {% endif %}
            {% if DOI -%}
            a.btn.btn-xs(href="https://doi.org/{{ DOI }}") publisher
            {% endif -%}
            {% if arxiv -%}
            a.btn.btn-xs(href="https://arxiv.org/abs/{{ arxiv }}") arxiv
            {% endif -%}
            {% if abstract -%}
            a.btn.btn-xs(type="button", data-bs-toggle="modal", data-bs-target="#abstract{{ id }}") Abstract
            {% endif -%}
            {% if bibtex -%}
            a.btn.btn-xs(type="button", data-bs-toggle="modal", data-bs-target="#bibtex{{ id }}") BibTeX
            {% endif -%}
            {% if zbmath -%}
            a.btn.btn-xs(href="{{ zbmath }}") zbMath
            {% endif -%}
{% endmacro %}

{% macro papermodal (id, title, abstract, bibtex) %}
{% if abstract -%}
// Modal
.modal.fade(id="abstract{{ id }}", tabindex="-1", role="dialog", aria-labelledby="{{ title }}", aria-hidden="true")
    .modal-dialog(role="document").modal-dialog-centered
        .modal-content
            .modal-header
                h5.modal-title {{ title | replace('--', '—') | replace("``", "“") | replace('"', '”')  | replace("''", "”") }}
            .modal-body
                {% for line in abstract.splitlines() %}
                p {{ line | e | replace('--', '—') }}
                {% endfor %}
            .modal-footer.justify-content-center
                button.btn.btn-primary.btn-xl(type="button", data-bs-dismiss="modal") Close
{% endif -%}
{% if bibtex -%}
// Modal
.modal.fade(id="bibtex{{ id }}", tabindex="-1", role="dialog", aria-labelledby="{{ title }}", aria-hidden="true")
    .modal-dialog(role="document").modal-dialog-centered
        .modal-content
            .modal-body
                p 
                    code.user-select-all(id="bibtexcontent{{ id }}") {{ bibtex.replace('\n', '<br>&nbsp;&nbsp;&nbsp;&nbsp;') }}
            .modal-footer.justify-content-center
                button.btn.btn-primary.btn-xl(type="button", data-bs-dismiss="modal") Close
                button.btn.btn-info.btn-xl(type="button", onclick="myFunction(document.getElementById('bibtexcontent{{ id }}'))") Copy to clipboard
{% endif -%}
{% if zbmath -%}
a.btn.btn-xs(href="{{ zbmath }}") zbMath
{% endif -%}
{% endmacro %}

{% macro presentation (title, event, note, daymonth, year, location, file, video, url) %}
.col-11.col-sm-10.col-md-8.col-lg-5.col-lx-4.mx-auto
    .card.shadow.rounded
        .card-body
            | #[strong {{ title | replace('--', '—') | replace("``", "“") | replace('"', '”')  | replace("''", "”") }}]<br>
            | #[i {{ event | replace('--', '—') }}]<br>
            | {% if note %}{{ note | replace('--', '—') }}<br>{% endif %}
            | {{ daymonth }} {{ year }}, {{ location }}
        .card-footer
            {% if file -%}
            a.btn.btn-xs(href="assets/files/presentations/{{ file }}.pdf") Presentation
            {% endif -%}
            {% if video -%}
            a.btn.btn-xs(href="{{ video }}") Video
            {% endif -%}
            {% if url -%}
            a.btn.btn-xs(href="{{ url }}") Site
            {% endif -%}
{% endmacro %}